@import uk.gov.hmrc.fileuploadjourney.models.upscan.UpscanFormTemplate

@this(
    layout: templates.Layout,
    govukErrorSummary: GovukErrorSummary,
    govukFileUpload: GovukFileUpload,
    govukButton: GovukButton
)

@(form: Form[_], formTemplate: UpscanFormTemplate, mode: Mode)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(form, messages("uploadSupportingDocument.title"))) {

    <form method="POST" action="@formTemplate.href" enctype="multipart/form-data" novalidate autocomplete="off">
        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form))
        }

        @for((name, value) <- formTemplate.fields) {
          <input type="hidden" name="@name" value="@value" />
        }

        @govukFileUpload(FileUpload(
          name = "file",
          label = LabelViewModel(messages("uploadSupportingDocument.heading")).asPageHeading(),
          javascript = Some(true)
        ))

        @govukButton(
            ButtonViewModel(messages("site.continue"))
        )
    </form>
}
