@import viewmodels.InputWidth._

@this(
    layout: templates.Layout,
    formHelper: FormWithCSRF,
    govukErrorSummary: GovukErrorSummary,
    govukInput: GovukInput,
    govukDateInput: GovukDateInput,
    govukButton: GovukButton
)

@(form: Form[_], action: Call, mode: Mode)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = title(form, messages("auditEvent.title"))) {

    @formHelper(action = action, Symbol("autoComplete") -> "off") {
        @if(form.errors.nonEmpty) {
            @govukErrorSummary(ErrorSummaryViewModel(form))
        }

        <h1 class="govuk-heading-xl">@messages("auditEvent.heading")</h1>
        @govukInput(
            InputViewModel(
                field = form("auditType"),
                label = LabelViewModel(messages("auditEvent.auditType"))
            )
            .withWidth(Full)
        )

        @govukInput(
            InputViewModel(
                field = form("description"),
                label = LabelViewModel(messages("auditEvent.description"))
            )
            .withWidth(Full)
        )

        @govukDateInput(
            DateViewModel(
                field  = form("expectedGoLiveDate"),
                legend = LegendViewModel(messages("auditEvent.expectedGoLiveDate"))
            )
            .withHint(HintViewModel(messages("auditEvent.expectedGoLiveDate.hint")))
        )

        @govukButton(
            ButtonViewModel(messages("site.continue"))
        )
    }
}
